body {
	background: #f0f0f0;
}
.prj-header
{
	background-color: #000042;
	border-bottom: solid #d1d1d1 4px;
}

/* Блок с вопросами*/

.prj-content-space{
	margin-top: 10px;
}
.prj-question {
	border-radius: 5px;
	border: solid #d1d1d1 4px;
	min-height: 200 px;
	min-width: 300 px;
	background: #e3e3e3;
	padding: 5px;
}

.prj-qtitle {
	display: block;
	font-size: 2em;
	margin-bottom: 2px;
	margin-left: 2px;
	border-bottom: solid black 1px;
}

.prj-avatar {
	float: left;
	margin: 15px;
	border-radius: 100%;
	border: solid #d1d1d1 2px;
}

.prj-brief-content {
	display: block;
}

.prj-like-btn {
	height: 30px;
	width: 30px;
	border-radius: 100%;
	background-color: #e3e3e3;
	border: solid #d1d1d1 2px;
	outline: none;
}

.prj-like-btn:hover {
	background-color: green;
}
.prj-like-btn img {
 display: block;
  margin-left: auto;
  margin-right: auto;
}

.prj-dislike-btn {
	height: 30px;
	width: 30px;
	border-radius: 100%;
	background-color: #e3e3e3;
	border: solid #d1d1d1 2px;
	outline: none;
}

.prj-dislike-btn:hover {
	background-color: red;
}
.prj-dislike-btn img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(-1, -1);
}

.prj-info-list li
{
	display: inline;
}

.prj-info-list
{
	display: inline-block;
}

/*Стили правого блока меню*/
.prj-right-block-title {
	color: white;
	background-color: #000042;
	height: 50px;
	font-size: 2em;
	padding-bottom: 5px;
	padding-left: 5px;
	border-bottom: solid #d1d1d1 4px; 
}

.prj-right-block {
	border: solid #d1d1d1 2px;
}

.prj-count-answers{
	display: inline;
}

.prj-btn-choose-question{
	color: black;
	outline: none;
}

.prj-text-centre
{
	text-align: center;
}


.prj-btn-choose-question input:checked  + span{
	color: blue;
	font-size: 2em;
}

