body {
	background: #f0f0f0;
}
.prj-header
{
	background-color: #000042;
	border-bottom: solid #d1d1d1 4px;
}

/* Блок с вопросами*/

.prj-content-space{
	margin-top: 10px;
}
.prj-question {
	border-radius: 5px;
	border: solid #d1d1d1 4px;
	min-height: 200 px;
	min-width: 300 px;
	background: #e3e3e3;
	padding: 5px;
	margin-bottom: 10px;
}

.prj-qtitle {
	display: block;
	font-size: 2em;
	margin-bottom: 2px;
	margin-left: 2px;
	border-bottom: solid black 1px;
}

.prj-avatar {
	float: left;
	margin: 15px;
	border-radius: 100%;
	border: solid #d1d1d1 2px;
}

.prj-brief-content {
	display: block;
}

.prj-like-btn {
	height: 30px;
	width: 30px;
	border-radius: 100%;
	background-color: #e3e3e3;
	border: solid #d1d1d1 2px;
	outline: none;
}

.prj-like-btn:hover {
	background-color: green;
}
.prj-like-btn img {
 display: block;
  margin-left: auto;
  margin-right: auto;
}

.prj-dislike-btn {
	height: 30px;
	width: 30px;
	border-radius: 100%;
	background-color: #e3e3e3;
	border: solid #d1d1d1 2px;
	outline: none;
}

.prj-dislike-btn:hover {
	background-color: red;
}
.prj-dislike-btn img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(-1, -1);
}

.prj-info-list li
{
	display: inline;
}

.prj-info-list
{
	display: inline-block;
	margin-bottom: 0px;
}

.prj-info-answers{
	display: block;
	text-align: right;
	margin: 5px;
}

/*Стили правого блока меню*/
.prj-right-block {
	border: solid #d1d1d1 2px;
	background-color: #e3e3e3;
	border-radius: 5px;
}

.prj-right-block-title {
	color: white;
	background-color: #000042;
	min-height: 20px;
	font-size: 2em;
	padding-bottom: 5px;
	padding-left: 5px;
	border-bottom: solid #d1d1d1 2px; 
	border-radius: 5px;
	text-align: center;
	display: block;
}



.prj-count-answers{
	display: inline;
}

.prj-btn-choose-question{
	color: black;
	outline: none;
}

.prj-text-centre
{
	text-align: center;
}

.prj-title-page
{
	color: blue;
	text-align: center;
	font-size: 2em;
}

.prj-btn-choose-question input:checked  + span{
	color: blue;
	font-size: 2em;
}

/*стиля для блока с популярными тегами*/
.prj-popular-tags {
	margin: 0;
	padding: 0;
	list-style: none;
}

.prj-popular-tags li{
	display: inline;
	padding: 5px;
	font-size: 1.3em;
}

.prj-popular-tags .prj-red{
	color: red;
}

.prj-popular-tags .prj-green{
	color: green;
}

/*Стили пагинации*/

.prj-pagination {
	margin: auto;
}


/*стиль input file*/
.prj-btn-file {
  position: relative;
  overflow: hidden;
  margin-left: 15px;
}
.prj-btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
.prj-file-input-label {
	padding: 0px 10px;
	display: table-cell;
	vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 4px;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}